/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.vscode/
.idea/
public/fonts/*
public/images/projects/*
public/images/portrait2.jpg
public/images/portrait3.jpg
