.btn {
  &.btn-outline-dark {
    border-color: $accent-color;
    border-width: 2px;
    color: $accent-color;
    border-radius: 3em;
    padding: 0.5em 2em;
    &:hover {
      color: $accent-light;
      background-color: $accent-color;
    }
    &:active {
      background-color: darken($accent-color, 5%) !important;
      border-color: darken($accent-color, 5%) !important;
    }
    &:focus {
      box-shadow: none !important;
    }
  }
}
