.btn {
  &.btn-outline-dark {
    border: 2px solid $dark-blue;
    color: $dark-blue;
    &:hover {
      background-color: $dark-blue;
      color: #fff;
    }
    &:active {
      background-color: lighten($dark-blue, 20) !important;
    }
    &:focus {
      box-shadow: none !important;
    }
    &.view-more {
      margin-top: 35px;
    }
  }
  &.btn-red {
    color: #fff;
    box-shadow: 0 1px 6px rgba(87, 86, 105, 0.3);
    font-weight: 600;
    border: none;
    background: #fa807c;
    &:hover {
      background-color: #fb9390;
    }
  }
}
