.card {
  border: none;
  margin-bottom: 30px;
  &:hover {
    .hover-link {
      opacity: 100;
    }
  }
  .card-title {
    font-weight: 600;
  }
  .card-text {
    line-height: 2em;
  }
  .card-img-top {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 240px;
    width: 100%;
    overflow: hidden;
  }
  .hover-link {
    opacity: 0;
    transition: 0.25s;
  }
  .card-footer {
    border: none;
    background: none;
  }
}
