html,
body {
  font-family: "Montserrat", sans-serif;
  height: 100%;
  cursor: default;
}
::-webkit-scrollbar {
  //display: none; // Safari and Chrome
}
html {
  //scroll-behavior: smooth;
  //overflow: scroll;
  //overflow-x: hidden;
  -ms-overflow-style: none; // IE 10+
  scrollbar-width: none; // Firefox
}
body {
  margin: 0;
}
h3 {
  font-weight: 600;
}

canvas {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
}
