#intro {
  color: #fff;
  height: 100%;
  background-color: $accent-dark;
  background-image: url("/images/background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: top center;
  .bg {
    background: rgba($accent-dark, 0.75);
    height: 100%;
    .container {
      position: relative;
      z-index: 1;
      font-family: "Comfortaa", sans-serif;
      #name {
        font-size: 5em;
      }
      #sub-text {
        margin-top: 30px;
        font-size: 2em;
      }
    }
  }
}
#login {
    #intro {
        background-image: url('/images/login.jpg')
    }
}
