#projects,
#about,
#contact,
#skills {
  header {
    margin-bottom: 50px;
    text-align: center;
    h2 {
      font-size: 3rem;
      color: $accent-color;
    }
    p {
      font-size: 1.5rem;
      color: $accent-dark;
    }
  }
}
