#intro {
  padding: 0;
  color: $accent-light;
  height: 100%;
  background-color: $accent-dark;
  background-image: url("/img/background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: top center;
  .middle {
    background: rgba($accent-dark, 0.75);
    height: 100%;
    header {
      h1 {
        font-size: 5em;
      }
      p {
        margin-top: 30px;
        font-size: 2em;
      }
    }
  }
}
#login {
  #intro {
    background-image: url("/img/login.jpg");
  }
}
