#intro {
  padding: 0;
  color: $accent-light;
  height: 100%;
  max-height: 1080px;
  background: url("/img/background.svg");
  background-color: $accent-dark;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: top center;
  .middle {
    background-repeat: no-repeat;
    height: 100%;
    .image {
      height: 500px;
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
      background-image: url("/img/intro.svg");
    }
    header {
      h1 {
        font-size: 5em;
      }
      p {
        margin-top: 30px;
        font-size: 2em;
      }
    }
  }
}
#login {
  #intro {
    background-image: url("/img/login.jpg");
  }
}
