.list-group {
  border: none;
  .list-group-item {
    text-align: center;
    border: none;
    border-top: 1px dashed darken($accent-light, 5);
    padding: 20px 0;
    a {
      color: $accent-color;
    }
    &:first-child {
      padding-top: 20px;
    }
    &:last-child {
      padding-bottom: 20px;
    }
  }
}
