.navbar {
  bottom: 0;
  text-align: center;
  position: absolute;
  width: 100%;
  z-index: 1000;
  border-top: 5px solid $accent-color;
  font-size: 16px;
  box-shadow: 0 8px 8px -4px rgba($accent-dark, 0.5);

  @include media-breakpoint-down(md) {
    text-align: left;
    .nav-link {
      margin-left: 50px;
    }
  }
  &.navbar-night {
    background-color: $accent-dark;
  }
  .navbar-toggler {
    outline: none;
    color: $accent-light;
    border: none;
    background: transparent !important;

    .icon-bar {
      width: 22px;
      height: 2px;
      background-color: $accent-light;
      display: block;
      transition: all 0.2s;
      margin-top: 4px;
    }
    .top-bar {
      transform: rotate(45deg);
      transform-origin: 10% 10%;
    }
    .middle-bar {
      opacity: 0;
    }
    .bottom-bar {
      transform: rotate(-45deg);
      transform-origin: 10% 90%;
    }
    &.collapsed {
      .top-bar {
        transform: rotate(0);
      }
      .middle-bar {
        opacity: 1;
      }
      .bottom-bar {
        transform: rotate(0);
      }
    }
  }
  .nav-link {
    color: lighten($accent-color, 30%);
    transition: 0.25s;
    min-width: 150px;
    font-weight: 600;
    &.active {
      font-weight: 600;
      color: $accent-light;
    }
    &:hover {
      color: $accent-light;
    }
  }
  &.fixed-top {
    position: fixed;
    bottom: auto;
    border-top: none;
    border-bottom: 5px solid $accent-color;
  }
  i {
    width: 20px;
    color: lighten($accent-color, 30%);
  }
}
