.navbar {
  &.navbar-dark {
    background-color: $dark-blue !important;
    .navbar-nav {
      .nav-link {
        font-size: 14px;
      }
    }
    .navbar-brand {
      font-weight: bold;
      color: #fff;
    }
  }
}
