.project {
  margin-bottom: 100px;
  h3 {
    text-align: left;
    border-bottom: 3px solid $accent-color;
  }
  .img {
    height: 335px;
    background-position: center;
    background-repeat: no-repeat;
  }
  p {
    line-height: 30px;
  }
}
