#skills {
  background: $dark-blue;
  z-index: 0;
  &:after {
    content: " ";
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    background: $dark-blue;
    transform-origin: bottom left;
    -ms-transform: skew(-10deg, 0deg);
    -webkit-transform: skew(-10deg, 0deg);
    transform: skew(-10deg, 0deg);
    box-shadow: 0 0 1px $dark-blue;
  }
  .scroll-down {
    margin-top: -100px;
    a {
      color: #fff;
      font-size: 32px;
      text-decoration: none;
    }
  }
  .content {
    width: 75%;
    .skill {
      opacity: 0;
      padding-bottom: 20px;
      &:last-child {
        padding-bottom: 0px;
      }
      .fa-circle {
        color: lighten($dark-blue, 15);
      }
      .name {
        font-family: "Comfortaa", sans-serif;
        font-size: 18px;
        font-weight: bold;
        color: #fff;
      }
    }
  }
}

@media (max-width: 992px) {
  #skills:after {
    display: none;
  }
}
