// Fonts
@import url("https://fonts.googleapis.com/css?family=Nunito");
@import url("https://fonts.googleapis.com/css?family=Poiret+One");
@import url("https://fonts.googleapis.com/css?family=Comfortaa");
@import url("https://fonts.googleapis.com/css?family=Open+Sans");

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap/scss/bootstrap";
@import "~@fortawesome/fontawesome-free/css/all";

@import "buttons";
@import "about";
@import "skills";
@import "cards";
@import "forms";
@import "tables";
html {
  overflow: scroll;
  overflow-x: hidden;
  scroll-behavior: smooth;
}
::-webkit-scrollbar {
  width: 0px; /* remove scrollbar space */
  background: transparent; /* optional: just make scrollbar invisible */
}
/* optional: show position indicator in red */
::-webkit-scrollbar-thumb {
  background: #ff0000;
}
.no-scroll {
  overflow: hidden;
}
.loading {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background: $dark-blue;
}
section,
footer {
  padding: 50px;
}
h2 {
  font-size: 3em;
  text-align: center;
  margin-bottom: 50px;
}
html,
body {
  cursor: default;
  background-color: #fff;
  color: #090b10;
  font-family: "Comfortaa", sans-serif;
  font-weight: 200;
  height: 100vh;
  margin: 0;
}
i {
  vertical-align: middle;
}
.full-height {
  height: 100vh;
}

.content {
  text-align: center;
}

.title {
  font-family: "Poiret One";
  font-size: 84px;
  margin-bottom: 30px;
}

$hex-size: 360px;
.hexa,
.hexa div {
  margin: 0 auto;
  transform-origin: 50% 50%;
  overflow: hidden;
  transform: rotate(240deg);
  width: $hex-size - 95;
  height: $hex-size;
}

.hex {
  transform: rotate(-120deg);
  .portrait {
    transform: rotate(-120deg);
    background-image: url("/images/portrait.jpg");
    background-size: cover;
    background-position: top;
  }
}

.alt {
  background-color: #f7f7f8;
}
